<div class="border-b border-gray-100 rounded-t-lg px-4 py-3 bg-gray-50 flex items-center justify-between <%= @class_name %> <%= @options[:class] %>">
  <% if content.present? %>
    <%= content %>
  <% elsif @text.present? %>
    <%= render Servactory::Web::UiKit::Molecules::CardHeaderTextComponent.new(text: @text) %>
  <% end %>
  <% if right %>
    <div><%= right %></div>
  <% end %>
</div> 
