<div class="border-l-4 <%= @border_class %> <%= @bg_class %> <%= @text_class %> py-1 px-3 mb-3 font-semibold text-base <%= @class_name %> <%= @options[:class] %>" <%= tag.attributes(@options.except(:class)) %>>
  <%= @title %>
</div>
