<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Servactory Web Interface">
    <title>Servactory</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'servactory/web/compiled', 'data-turbo-track': 'reload' %>
  </head>
  <body class="min-h-screen flex flex-col bg-white">
    <%= render 'servactory/web/navbar' %>
    <main class="flex-1 container mx-auto px-4 py-6" role="main">
      <%= yield %>
    </main>
    <%= render 'servactory/web/footer' %>
  </body>
</html>
